@import 'nib'
// @import "variables";
@import 'libs/normalize'
// @import "fonts";
// @import "base";
// @import "grid";
// @import "layout";
// @import "buttons";
// @import "forms";
// @import "ui";
// @import "pages";
// @import "media";

// @import "ie";

body
  font-size: 1em
  line-height: 1.5em

